{% extends 'base.html' %}
{% load tags %}
{% load django_bootstrap5 %}
{% block title %}役員変更登記{% endblock %}
{% block content %}
<div id="parent">
    <div id="child1">
        <p>追加または変更をします。</p>
        <form method="POST">
            {% csrf_token %}
            <p>{{ form.year.label_tag }}{{ form.year }}</p>
            <p>{{ form.number.label_tag }}{{ form.number }}{{ form.number_choice }}</p>
            <p>{{ form.note.label_tag }}{{ form.note }}</p>
            {% bootstrap_button "追加または変更" name="btn-c" button_type="submit" %}
            {% bootstrap_button "削除" name="btn-d" button_type="submit" %}
        </form>
    </div>
</div>
    <h2>件数:{{ hyo.count }}</h2>
<table class="table">
    <tr>
        <td>番号</td>
        <td>顧問先名</td>
        <td>年度</td>
        <td>備考</td>
    </tr>
    {% for i in hyo %}
    {% if forloop.counter|modulo:2 == 1 %}
    <tr class="table-primary">
        {% else %}
    <tr>
    {% endif %}

    <td>{{ i.k_number_id}}</td>
    <td>{{ i.k_number.k_name }}</td>
    <td>{{ i.year }}</td>
    <td>{{ i.note }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}